body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #282121;
    border-radius: 10px;
    padding: 40px 10px; 
    color: white;
    gap: 8px;
}

input{
    border-radius: 5px;
    height: 30px;
    width: 200px;
}

.taskList{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid blue;
    padding: 6px;
}

.countTask{
    margin-top: 35px;
    border-top: 1px solid white;
    padding-top: 10px;
}

